# Dependencies
node_modules/
.vscode/
.kiro/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Environment files
.env*

# Build outputs
dist/
build/
out/
cdk.out/

# Caches
.cache/
.npm/
.eslintcache/
*.tsbuildinfo

# Coverage
coverage/
.nyc_output/

# Python
venv/
.ipynb_checkpoints/

# IDE
.vscode-test/

# OS
.DS_Store
Thumbs.db