langchain-aws==1.0.0
langchain-core>=1.0.7
langchain-community==0.4.1
langchain-postgres==0.0.16
langchain>=1.0.0,<2.0.0
langchain-classic
boto3
aws-lambda-powertools
psycopg[binary, pool]
psycopg2-binary
pydantic
urllib3
botocore
numpy>=1.26.4
