*.js
!lambda/*.js
!lambda/*/*.js
!lambda/*/*/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# CDK context file contains sensitive account information
cdk.context.json